---
import { AppConfig } from '@/utils/AppConfig';
import Base from '@/layouts/Base.astro';
import PostHeader from '@/components/PostHeader.astro';
import PostContent from '@/components/PostContent.astro';

const { description } = AppConfig;

const { frontmatter } = Astro.props;
---

<Base head={{ title: frontmatter.title, description }}>
	<div class="mx-auto w-full max-w-screen-md">
		<PostHeader
			title={frontmatter.title}
			author={frontmatter.author}
			tags={frontmatter.tags}
			minutesRead={frontmatter.minutesRead}
			pubDate={frontmatter.pubDate}
			isPinned={frontmatter.isPinned}
			img={{ src: frontmatter.image.src, alt: frontmatter.image.alt }}
		/>
		{frontmatter.spotifyEmbed && (
			<div class="mx-4 mb-6">
				<iframe
					class="rounded-xl w-full"
					src={frontmatter.spotifyEmbed}
					height="232"
					allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
				</iframe>
			</div>
		)}
		<PostContent><slot /></PostContent>
	</div>
</Base>
